.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoBlock {
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.imageWrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: solid 2px #4C4CFF;
  background-color: black;
}

.imageWrapper img {
  height: 100%;
  width: auto;
}

.priceBlock {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}